.App{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.bg{
  height: 100vh;
  position: relative;
}
.bg img{
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -50%) scale(1.1);
}
.btns{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 5;
  
}
.btns button{
  height: 100%;
  width: 100%;
  background-color: none;
  border: 1px solid black;
}
@media screen and (max-width: 500px) {
  .bg img{
    transform: translate(-48%, -50%)  scale(0.7);
  }
}