.App{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y:hidden;
}
.bg{
  height: 100vh;
  position: relative;
}
.bg img{
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -44%) scale(1.2);
}
.btns{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 5;
  
}
.btns div{
  height: 100%;
  width: 100%;
  background-color: none;
  border: 1px solid black;
}

.counter{
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 10%;
  z-index: 4;
  font-size: 50px;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .bg img{
    transform: translate(-48.8%, -50%)  scale(0.7);
  }
  .counter{
    font-size: 30px;
    margin-top: 20%;
    margin-left: 20%;
  }
}


.intro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  color: black;
  transform: scale(1);
  transition-duration: 0.5s;
  font-weight: 600
}
.intro__left{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255,0.7);
  width: 50%;
  height: 100%;
  position: absolute;
  transition-duration: 0.2s;
  left: 0;
  font-size: 30px;
  backdrop-filter: blur(5px);
  border-right: 1px solid gray;
}
.intro__right{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255,0.7);
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  transition-duration: 0.2s;
  font-size: 30px;
  backdrop-filter: blur(5px);
  border-left: 1px solid gray;
}
.intro__left.active{
  left: -60%;
}
.intro__right.active{
  left: 110%;
}
.intro.active{
  transition-delay: 0.2s;
  top: 100%;
}
@media screen and (max-width: 500px) {
  .intro__left{
    backdrop-filter: blur(2px);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
  }
  .intro__right{
    backdrop-filter: blur(2px);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
  }
  
}

.results__btn{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  width: 80px;
  padding: 10px 0;
  position: fixed;
  left: 31%;
  background-color: white;
  top: 0;
  font-size: 20px;
  z-index: 8;
  border-radius: 3;
  border: 2px solid black;
}
@media screen and (max-width: 500px) {
  .results__btn{
    left: 41%;
    font-size: 16px;
  }
   
}